# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.bzr
.bzrignore
bmdc
build/*
scripts/*
.codelite/*
Plugins/*
.vscode/settings.json
.vscode/c_cpp_properties.json
.tags
.tags_sorted_by_file
*.log
*.pdb
*.idb
.vs/BMDC++/v17/.suo
*.db
*.bin
*.ipch
.vs/BMDC++/v17/HierarchyCache.v1.txt
.vs/bmdc-next-master/v17/.suo
.vs/CMakeWorkspaceSettings.json
.vs/ProjectSettings.json
*.sqlite
.vs/tasks.vs.json
.vs/VSWorkspaceState.json
*.sln
*.vcxproj
ADLSearch.xml
*.filters
BMDC++.vcxproj.user
BMDC.sublime-project
BMDC.sublime-workspace
BMDC.xml
Certificates/client.crt
Certificates/client.key
DCPlusPlus.xml
Emptyfiles.xml.bz2
files__1.xml.bz2
Favorites.xml
HashData.dat
Notepad.txt
Profiles.xml
Queue.xml
Raws.xml
Recents.xml
*.ffs_db
UserInfoProfiles.xml
*.lastbuildstate
*.tlog
mingw.sh
mingw64.sh
*.bz2
