Source: bmdc
Section: net
Priority: optional
Maintainer: Mank <Mank1@seznam.cz>
XSBC-Original-Maintainer: Mank <Mank1@seznam.cz>
Build-Depends: 
 cdbs (>= 0.4.85~),
 debhelper (>= 7.0.1),
 dh-buildinfo,
 quilt,
 patchutils (>= 0.2.25),
 cdbs (>= 0.4.27),
 scons, 
 scons, 
 libbz2-dev, 
 libgtk3.0-dev, 
 libglade2-dev, 
 libssl-dev,
 libboost-dev,
 libnotify4-dev | libnotify-dev,
 libcanberra-dev,
 libnotify-dev,
 libgeoip-dev,
 libtar-dev
Homepage: http://launchpad.net/bmdc++/
Standards-Version: 3.9.2

Package: linuxdcpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BMDC++ Client with Ignore User , Media Spam and many others.
 DC++ Client with Ignore User , Media Spam and many others.
 By Mank and branec ( icons)
 ...
 .
 http://freedcppmv.sourceforge.net/.
