# colourst00f by curse resources.c
# Edited for BMDC by Mank
#uncometed color to enable it ;)
# bg= background
# fg = forecolor

style "window"
{
#bg[NORMAL] = { 0, 0, 0 }
fg[NORMAL] = { 1,1,1 }
base[NORMAL] = "white"
#base[NORMAL] = { 0, 0, 0 }
#text[NORMAL] = { 0, 0, 0 }
text[NORMAL] = "black"
}

style "transfers"
{
bg[NORMAL] = { 0, 0, 0 }
}

style "label"
{
#fg[NORMAL] = { 1, 1, 1 }
#font_name = "times new roman Bold"
}

style "button" = "window"
{
#bg[ACTIVE] = { 1, 1, 1 }
}

style "butlabel"
{
#fg[INSENSITIVE] = { 1, 1, 1 }
}

style "toggle_class"
{
#bg[NORMAL] = { 0, 0, 0 }
fg[NORMAL] = { 1, 1, 1 }
#bg[ACTIVE] = { 0, 0, 0 }
#bg[PRELIGHT] = { 0, 0.0, 0 }
#bg[INSENSITIVE] = { 1, 1, 1 }
}

style "edit"
{
#base[NORMAL] = { 1, 1, 1 }
fg[NORMAL] = { 0, 0, 0 }
}

binding "editkeys"
{
bind "F1" { "activate" () }
}

class "GtkTextView" style "window"
class "GtkTreeView" style "window"
class "GtkScrolledWindow" style "window"
class "mainWindow" style "window"
class "GtkDialog" style "window"
class "GtkMenuItem" style "edit"
class "*transferView*" style "transfers"
class "GtkLabel" style "label"
widget_class "*.Gtk*Button.GtkLabel" style "butlabel"
widget_class "*.Gtk?Box.GtkButton" style "button"
class "GtkToggleButton" style "toggle_class"
class "GtkEntry" style "edit"
widget "*entry" binding "editkeys"
 
# GPL etc... curse 2007
