[Desktop Entry]
Type=Application
Exec=bmdc
TryExec=bmdc
Path=/usr/share/bmdc
Icon=bmdc
Terminal=false
Categories=Network;FileTransfer;GTK;
Name=BMDC++
GenericName=DC++ Client
GenericName[cs]=Klient DC++
Comment=DC++ Client
Comment[cs]=Klient DC++
X-Ubuntu-Gettext-Domain=bmdc
